@page "/add-category"
@page "/edit-category/{id}"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using System.IO
@using Microsoft.AspNetCore.Authorization
@inherits CategoriesBase

<PageTitle>Fruit SA - Categories</PageTitle>

@if (Category != null)
{
    <div class="row justify-content-center m-3">

        <div class="col-md-8">
            <EditForm Model="@Category" OnValidSubmit="HandleValidSubmit" FormName="AddForm">
                <input type="hidden" id="categoryId" @bind="Category.CategoryId">
                <div class="card m-3" style="min-width:18rem; max-width:28rem;">

                     <div class="card-body">
                        @if (Id == null)
                        {
                            <h4 style="text-align:center;">Add Catecory</h4>
                        }
                        else
                        {
                            <h4 style="text-align:center;">Edit @Category.Name</h4>
                        }
                        <DataAnnotationsValidator />
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <label for="CategoryCode">Category Code:</label>
                            <InputText id="CategoryCode" @bind-Value="Category.CategoryCode" class="form-control" />
                            @if (!string.IsNullOrEmpty(errorMessage))
                            {
                                <p style="color: red;">@errorMessage</p>
                            }
                        </li>
                        <li class="list-group-item">
                            <label for="name">Name:</label>
                            <InputText id="name" @bind-Value="Category.Name" class="form-control" />
                            <ValidationMessage For="@(() => Category.Name)" />
                        </li>
                        <li class="list-group-item">
                            <label for="categoryStatus">IsActive:</label>
                            <InputSelect id="categoryStatus" @bind-Value="Category.IsActive" class="form-control">

                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </InputSelect>
                        </li>

                       
                    </ul>
                    <div class="card-body text-center">
                        @if (Id == null)
                        {
                            <button type="submit" class="btn btn-primary" style="margin-top:20px;"><i class="fas fa-plus-square"></i> Add Category</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" style="margin-top:20px;"><i class="fas fa-edit"></i> Save Category</button>
                            @* <button type="button" onclick="@HandleCategoryDelete" style="margin-top:20px;"  class="btn btn-danger">Delete</button> *@
                        }
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
    

}