@page "/products"
@inherits ProductsBase
@rendermode InteractiveServer

<PageTitle>Fruit SA - Products</PageTitle>
<style>
    td{vertical-align:middle;}
</style>
<h3>Products</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p style="color: red;" class="card-text">@ErrorMessage</p>
}
<p style="text-align:center;">
    <a href="/add-product" class="btn btn-success"><i class="fas fa-plus-square"></i> ADD</a>
    <a href="/upload-products" class="btn btn-success"><i class="fas fa-upload"></i> UPLOAD</a>
    <button onclick="@HandleDownloadProducts" class="btn btn-success"><i class="fas fa-download"></i> DOWNLOAD</button>
</p>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @* <div class="row">
        @foreach (var product in Products)
        {            
            <div class="card col-md-4 col-sm-12 m-1">
           
            <img class="card-img-top imageThumbnail" src="@($"images/{@product.Image}")" />
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: @product.Category.Name</li>
                <li class="list-group-item">Code: @product.ProductCode</li>
                <li class="list-group-item">Price (R): @product.Price</li>
            </ul>
                <div class="card-body text-center">
                <a href="@($"/edit-product/{@product.ProductId}")" class="btn btn-info">Edit</a>
                
            </div>
        </div>
        }
    </div> *@
    <table class="table table-success table-striped">
   
        <thead>
            <tr>
                <th></th>
                <th>Code:</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price (R)</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {

                <tr>
                    <td><img src="@($"images/{@product.Image}")" width="80px" height="80px"/></td>
                    <td>@product.ProductCode</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Price</td>
                    <td>@product.CreatedDate.ToShortDateString()</td>
                    <td>
                        <a href="@($"/view-product/{product.ProductId}")" class="btn btn-info"><i class="fas fa-info-circle"></i> View</a>
                       
                    </td>
                </tr>
            }

            <tr>
                <td colspan="8" style="text-align:center;">
                    <a href="/add-product" class="btn btn-success"><i class="fas fa-plus-square"></i> ADD</a>
                    <a href="/upload-products" class="btn btn-success"><i class="fas fa-upload"></i> UPLOAD</a>
                    <button onclick="@HandleDownloadProducts" class="btn btn-success"><i class="fas fa-download"></i> DOWNLOAD</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button class="btn btn-outline-success" disabled="@(currentPage == 1)" @onclick="PreviousPage" style="width:90px;"><i class="fas fa-angle-double-left"></i> Previous</button>
        <span>Page @currentPage of @totalPages</span>
        <button class="btn btn-outline-success" disabled="@(currentPage == totalPages)" @onclick="NextPage" style="width:90px;">Next <i class="fas fa-angle-double-right"></i></button>
    </div>
}
