@page "/register"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@inherits RegisterBase

<div class="row justify-content-center m-3">

    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
        errorMessage = "";
    }
    @if (error == "Exception")
    {
        <div class="alert alert-danger" role="alert">
            <ul>
                <li>
                    Passwords must have at least one non alphanumeric character.
                </li>
                <li>Passwords must have at least one digit ('0'-'9').</li>
                <li>Passwords must have at least one uppercase ('A'-'Z').</li>
                <li>Passwords must have at least one lowercase ('a'-'z').</li>
                <li>Passwords must have at least one special character</li>
            </ul>
        </div>
        error = "";
    }
    <div class="col-md-8">
        <EditForm Model="@User" OnValidSubmit="@HandleRegistration" FormName="RegisterForm">

            <div class="card m-3" style="min-width:18rem; max-width:28rem;">

                <div class="card-body">
                    <h4 style="text-align:center;">REGISTER</h4>
                    <DataAnnotationsValidator />

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <InputText id="inputEmail" class="form-control" @bind-Value="User.Email" />
                        <ValidationMessage For="@(() => User.Email)" />
                    </li>
                    <li class="list-group-item">
                        <label for="inputPassword" class="form-label">Password</label>
                        <InputText type="password" id="inputPassword" class="form-control" @bind-Value="User.Password" />
                        <ValidationMessage For="@(() => User.Password)" />
                    </li>
                    <li class="list-group-item">
                        <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                        <InputText type="password" id="inputConfirmPassword" class="form-control" @bind-Value="User.ConfirmPassword" />
                        <ValidationMessage For="@(() => User.ConfirmPassword)" />
                    </li>

                </ul>
                <div class="card-body text-center">

                    <button type="submit" class="btn btn-primary" style="min-width:50%;">Register</button><br>
                    You have an account? <a href="#" @onclick="LoginToAccount">Login</a>
                </div>
            </div>
        </EditForm>
    </div>
</div>


