@page "/view-product/{id}"
@inherits ProductsBase
<PageTitle>Fruit SA - Products</PageTitle>
@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    var category = Categories.FirstOrDefault(c => c.CategoryId == Product.CategoryId);
    <h3>View @Product.Name</h3>

    <div class="row justify-content-center m-3">

        <div class="card m-3" style="min-width:18rem; max-width:22rem;">

            <img class="card-img-top imageThumbnail" src="@($"images/{Product.Image}")" style="margin-top:10px;" />
                <div class="card-body">
                    <h5 class="card-title">@Product.Name</h5>
                    <p class="card-text">@Product.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: @CategoryName</li>
                    <li class="list-group-item">Code: @Product.ProductCode</li>
                    <li class="list-group-item">Price (R): @Product.Price</li>
                </ul>
                <div class="card-body text-center">
                <a href="@($"/edit-product/{@Product.ProductId}")" class="btn btn-info"><i class="fas fa-edit"></i> Edit</a>

                </div>
            </div>
    
    </div>
}